@inherits UmbracoViewPage

<!-- Header -->
<header id="header">
    <nav>
        <ul>
            <li><a href="#menu">Menu</a></li>
        </ul>
    </nav>
</header>

<!-- Menu -->
<nav id="menu">
    <h2>Menu</h2>
    <ul class="links">
        <li><a href="Home.cshtml">Home</a></li>
    </ul>
    <ul class="actions vertical">
        <li><a href="#" class="button fit special">Get Started</a></li>
        <li><a href="#" class="button fit">Log in</a></li>
    </ul>
</nav>
